<h1>Step 1: Choose your model and color</h1>
<form [formGroup]="form">
  <div>
    <label for="modelSelect">Model :</label>
    <select id="modelSelect" name="modelSelect" formControlName="model" type="number">
      <option value="">Choose..</option>
      <option *ngFor="let model of carModelList()" [value]="model.code">
        {{ model.description }}
      </option>
    </select>
    <ng-container *ngIf="carModelIsSelected()">
      <label for="colorSelect">Color :</label>
      <select id="colorSelect" name="colorSelect" formControlName="color">
        <option *ngFor="let color of colorList()" [value]="color.code">
          {{ color.description }}
        </option>
      </select>
    </ng-container>
  </div>
  <img *ngIf="firstStepCompleted()" [src]="imagePath" />
</form>
